body{
	
	width:100%;
	overflow:hidden;
}



.hide{ display:none;}

.page{
	width:100%;
	height:100%;
	position:absolute;
	text-align:center;
	min-width: 320px;
	max-width:640px;
	margin:0 auto;
}

.page .wrap{
	height:500px;
}


.page-1-1{background:url('../img/home-1.jpg') center center no-repeat;background-size:cover;}
.page-2-1{background:url('../img/home-2.jpg') center center no-repeat;background-size:cover;}
.page-3-1{background:url('../img/home-3.jpg') center center no-repeat;background-size:cover;}
.page-4-1{background:url('../img/home-4.jpg') center center no-repeat;background-size:cover;}
.page-5-1{background:url('../img/home-5.jpg') center center no-repeat;background-size:cover;}
.page-6-1{background:url('../img/home-6.jpg') center center no-repeat;background-size:cover;}
.page-7-1{ background-color:#147C79;}
.page-8-1{ background-color:#619B51;}
.page-9-1{ background-color:#5FBDD9;}
.page-10-1{ background-color:#CBFFFA;background: url(../img/t10-bg.png) center center no-repeat ; background-size:cover}
 
.page-current{
	z-index:1;
}

.u-globalAudio{color:#fff;text-decoration:none;font-size:14px;position:fixed;left:10px;top:20px;display:block;z-index:9999}
.u-globalAudio span{position:absolute;width:60px;left:34px;top:8px;text-shadow:1px 1px 1px #000;letter-spacing:2px;-webkit-transition:all .2s linear;opacity:0;-webkit-transform:translateX(-20px)}
.u-globalAudio .icon-music{width:32px;height:32px;background:url(../img/units-icons.png) 0 0;background-size:32px 32px;display:block}
.u-globalAudio.z-play .icon-music{-webkit-animation:reverseRotataZ 1.2s linear infinite}
.u-globalAudio span.z-show{opacity:1;-webkit-transform:translateX(0px)}
.u-globalAudio .coffee-steam-box{-webkit-transform:translate(-60px,-40px)}
@-webkit-keyframes reverseRotataZ{0%{-webkit-transform:rotateZ(0deg)}
100%{-webkit-transform:rotateZ(-360deg)}
}
@-webkit-keyframes rotataZ{0%{-webkit-transform:rotateZ(0deg)}
100%{-webkit-transform:rotateZ(360deg)}
}

.page-1-1 .img_1 {
	height:auto;width:97px;
	position:absolute;
	left:56px;
	top:20px;
	z-index:999;
}
.page-1-1 .img-1-1,.page-2-1 .img-2-1,.page-3-1 .img-3-1{
	position:absolute;
	width:320px;
	height:auto;
	left:0;
	top:10%;
}
.page-3-1 .img-3-1{top:5%;}
.page-4-1 .img-4-1{position:absolute;
	width:320px;
	height:auto;
	left:0;
	bottom:10%;
}
.page-5-1 .img-5-1{position:absolute;
	width:320px;
	height:auto;
	left:0;
	bottom:15%;
}
.page-6-1 .img-6-1{position:absolute;
	width:200px;
	height:auto;
	left:30px;
	top:6%;
}
.page-6-1 .img-6-2{position:absolute;
	width:75px;
	height:auto;
	left:50%;
	margin-left:-37.5px;
	top:35%;
}

@media screen and (min-width:360px){
	.page-1-1 .img-1-1,.page-2-1 .img-2-1,.page-3-1 .img-3-1,.page-4-1 .img-4-1,.page-5-1 .img-5-1{
		width:380px;
		left:0;
	}
	.page-6-1 .img-6-1{
		width:260px;
		height:auto;
	}
}

@media screen and (min-width:414px){
	.page-1-1 .img-1-1,.page-2-1 .img-2-1,.page-3-1 .img-3-1,.page-4-1 .img-4-1,.page-5-1 .img-5-1{
		width:100%;
		left:0;
	}
	.page-6-1 .img-6-1{
		width:260px;
		height:auto;
	}

}

.page-1-1 .img_2,.page-2-1 .img_2,.page-3-1 .img_2,.page-4-1 .img_2{
	height:auto;width:130px;
	position:absolute;
	top:-30px;
	right:0;
}

.page-1-1 .img_3 {
	height:auto;width:290px;
	position:absolute;
	left:50%;
	top:50%;
	margin-left:-145px;
	margin-top:-31.5px;
}
.page-1-1 .img_4,.page-2-1 .img_4,.page-3-1 .img_4,.page-4-1 .img_4{
	height:auto;width:160px;
	position:absolute;
	left:0;
	bottom:-10px;
}
.page-1-1 .img_5 {
	height:auto;width:165px;
	position:absolute;
	right:0;
	bottom:20px;
}
.page-1-1 .img_6,.page-2-1 .img_6,.page-3-1 .img_6{
	height:auto;width:25px;
	position:absolute;
	left:50%;
	top:92%;
	margin-left:-12px;
}
.page-2-1 .img_1,.page-3-1 .img_1{
	height:auto;width:88px;
	position:absolute;
	right:10%;
	bottom:5%;
	z-index:2;
}
.page-2-1 .img_3 {
	height:auto;width:270px;
	position:absolute;
	left:50%;
	top:50%;
	margin-left:-135px;
	margin-top:-83px;
	z-index:2;
}
.page-2-1 .img_5 {
	height:auto;width:118px;
	position:absolute;
	left:8%;
	top:15%;
}
 
.page-2-1 .img_6 {
	height:auto;width:25px;
	position:absolute;
	left:50%;
	top:92%;
	margin-left:-12px;
}
.page-3-1 .img_3 {
	height:auto;width:270px;
	position:absolute;
	left:50%;
	top:50%;
	margin-left:-135px;
	margin-top:-132px;
	z-index:2;
}

.page-4-1 .img_1 {
	height:auto;width:97px;
	position:absolute;
	right:10%;
	bottom:5%;
	z-index:999;
}
.page-4-1 .img_3 {
	height:auto;width:290px;
	position:absolute;
	left:50%;
	top:50%;
	margin-left:-145px;
	margin-top:-70px;
	z-index:999;
}


.page-4-1 .img_6 {
	height:auto;width:25px;
	position:absolute;
	left:50%;
	top:92%;
	margin-left:-12px;
}

.page-5-1 .img_1 {
	height:auto;
	width:230px;
	position:absolute;
	left:50%;
	top:0px;
	margin-left:-115px;
}
.page-5-1 .img_2 {
	height:auto;
	width:209px;
	position:absolute;
	left:50%;
	top:13%;
	margin-left:-104.5px;
}
.page-5-1 .img_3 {
	height:auto;
	width:203px;
	position:absolute;
	left:50%;
	bottom:15%;
	margin-left:-103.5px;
}
.page-5-1 .img_6 {
	height:auto;
	width:25px;
	position:absolute;
	left:50%;
	top:92%;
	margin-left:-12px;
}

.page-6-1 .img_1 {
	height:auto;
	width:242.5px;
	position:absolute;
	left:50%;
	top:60px;
	margin-left:-121.25px;
	 
}
.page-6-1 .img_2 {
	height:auto;
	width:236px;
	position:absolute;
	left:50%;
	top:13%;
	margin-left:-105px;
}
.page-6-1 .img_3 {
	height:auto;
	width:174.5px;
	position:absolute;
	left:50%;
	bottom:15%;
	margin-left:-87.25px;
}
.page-6-1 .img_6 {
	height:auto;
	width:25px;
	position:absolute;
	left:50%;
	top:92%;
	margin-left:-12px;
}


.page-7-1 .img_1 {
	height:auto;
	width:263px;
	position:absolute;
	left:50%;
	top:0px;
	margin-left:-131.5px;
	 
}
.page-7-1 .img_2 {
	height:auto;
	width:255px;
	position:absolute;
	left:50%;
	top:28px;
	margin-left:-127.5px;
}
.page-7-1 .img_3 {
	height:auto;
	width:175px;
	position:absolute;
	left:50%;
	bottom:15%;
	margin-left:-87.75px;
}
.page-7-1 .img_6 {
	height:auto;
	width:25px;
	position:absolute;
	left:50%;
	top:92%;
	margin-left:-12px;
}


.page-8-1 .img_1 {
	height:auto;
	width:273px;
	position:absolute;
	left:50%;
	top:50px;
	margin-left:-136.5px;
	 
}
.page-8-1 .img_2 {
	height:auto;
	width:225.5px;
	position:absolute;
	left:50%;
	top:60px;
	margin-left:-112.75px;
}
.page-8-1 .img_3 {
	height:auto;
	width:174.5px;
	position:absolute;
	left:50%;
	bottom:15%;
	margin-left:-87.25px;
}
.page-8-1 .img_6 {
	height:auto;
	width:25px;
	position:absolute;
	left:50%;
	top:92%;
	margin-left:-12px;
}


.page-9-1 .img_1 {
	height:auto;
	width:260.5px;
	position:absolute;
	left:50%;
	top:0px;
	margin-left:-130.25px;
	 
}
.page-9-1 .img_2 {
	height:auto;
	width:320px;
	position:absolute;
	left:50%;
	bottom:0px;
	margin-left:-160px;
}
.page-9-1 .img_3 {
	height:auto;
	width:175px;
	position:absolute;
	left:50%;
	bottom:15%;
	margin-left:-87.75px;
}
.page-9-1 .img_6 {
	height:auto;
	width:25px;
	position:absolute;
	left:50%;
	top:92%;
	margin-left:-12px;
}

.page-10-1 .img_1 {
	height:auto;
	width:288px;
	position:absolute;
	left:50%;
	top:40px;
	margin-left:-144px;
	 
}
.page-10-1 .img_2 {
	height:auto;
	width:100px;
	position:absolute;
	left:50%;
	bottom:25px;
	margin-left:-50px;
}
.page-10-1 .img_3 {
	height:auto;
	width:157.5px;
	position:absolute;
	left:50%;
	bottom:99px;
	margin-left:-78.75px;
}
.page-10-1 .img_6 {
	height:auto;
	width:25px;
	position:absolute;
	left:50%;
	top:92%;
	margin-left:-12px;
}
.page-10-1 .img_logo {
	height:auto;
	width:103.5px;
	position:absolute;
	left:50%;
	top:83%;
	margin-left:-51.75px;
}
.page-10-1 .img_7 {
	height:auto;
	width:100px;
	position:absolute;
	left:50%;
	bottom:25px;
	margin-left:-50px;
}
.page-10-1 div.text{
	top:276px;	
	color:#FF811A;
	font-size:16px;
	position:absolute;
	text-align:center;
	width:100%;
	line-height:1.5em;
}
.page-10-1 div.text a{
	color:#FF811A;
}
.page-10-1 span h2{
	font-size:28px;
}
.page-10-1 span h3{
	font-size:24px;
}


#textsuper{position:absolute;top:-1000;left:-1000;overflow-x:hidden;overflow-y:hidden;z-index:4000}
#textsub{color:black;position:relative;font-size:21pt;text-align:left;line-height:40pt;top:2000px}
#share{ background: rgba(0,0,0,0.8); position:absolute; top:0px; width:100%; height:100%; display:none; z-index:99998}
.shareImg{ background: url(../img/share.png) right top no-repeat; position:absolute; top:0px; right:0px; width:165px; height:114px; background-size:cover; z-index:99999}