<div id="wrapper">
    <!-- nav -->
    <nav class="navbar navbar-default navbar-static-top">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="" class="navbar-brand">K12教育-管理后台-1.0</a>
        </div>

        <!-- ptteng-user info -->
        <user></user>

        <!-- ptteng-sidebar -->
        <sidebar></sidebar>
    </nav>

    <!-- main content -->
    <div id="page-wrapper">
        <ui-view></ui-view>
    </div>
</div>